html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #e6e6e6;
}

h1 {
  font-size: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

button{
  border-radius: 3px;
  border: none;
  background: white;
  padding: 6px 16px;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}